# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Agatka\Desktop\Agata\EPAM\GIT\String\GGTest2\.idea/dataSources/
/dataSources.local.xml
